<footer>
  <p mt-8 text-xs>
    <div class="mt-2 text-xs text-gray-500 dark:text-gray-400">
      {
        import.meta.env.NOTICE_MESSAGE
          ? (
          <Fragment set:html={import.meta.env.NOTICE_MESSAGE} />
            )
          : null
      }
    </div>
    <div class="text-xs op-30 mt-2">
      <a
        border-b
        border-slate
        border-none
        hover:border-dashed
        href="https://github.com/ninvfeng/chatgpt"
        target="_blank"
      >
        Github源码
      </a>
      <span px-1>|</span>
      <a
        border-b
        border-slate
        border-none
        hover:border-dashed
        href="https://platform.openai.com/docs/guides/chat"
        target="_blank"
      >
        基于OpenAI接口
      </a>
    </div>
    <div class="text-xs op-30 mt-2">
      - 因晚上到账时有延迟,每天开放充值时间为09:00-23:59, 请合理安排充值时间
      - ⚠️注意:连续对话消耗的额度会递增(接口需把所有提问和回答都带上,openai才能理解上下文)，不需要可以关闭或清除后再提问,但无法理解上下文
      - 可将对话保存为图片或复制为Markdown格式文本,问题或答案可一键发送至浮墨笔记保存(需填写浮墨笔记API链接)
      - 浮墨笔记官网: https://flomoapp.com
      - 邀请链接: https://v.flomoapp.com/register/?NzQyMDE 邀请码: NzQyMDE
    </div>
</footer>
