---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro';
---

<header>
  <div class="fb items-center w-3/4">
    <img src="/public/img/logo_o.png" alt="" class="w-32 h-32 rounded-full mx-auto">
    <Themetoggle />
  </div>
  <div class="fi mt-2 text-center w-full mx-auto">
    <span class="gpt-subtitle ml-40">ChatGPT</span>
    <span class="ml-2 text-xl op-60 text-rose-400">3.5</span>
  </div>
</header>
