---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro';
---

<header>
  <div>
    <Themetoggle />
  </div>
  <div class="fb items-center w-full">
    <img src="/img/logo_o.png" alt="" class="w-32 h-32 rounded-full mx-auto">

  </div>
  <div class="fi mt-2 text-center w-full mx-auto">
    <span class="gpt-subtitle mx-auto">
      ChatGPT
      <span class="ml-2 text-xl op-60 text-rose-400">3.5</span>
    </span>

  </div>
</header>
